body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 20px;
}

h1 {
    color: #333;
    display: flex;
    justify-content: center;
    font-size: 50px;
}

h2 {
    color: #666;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 50px;
    flex-wrap: wrap;
    text-align: center;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: bold;
    align-items: center;
    box-sizing: border-box;
}

label {
    font-size: 20px;
    color: #333;
}

input, select, button {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box; 
}

input {
    font-size: 25px;
    height: 50px;
    font-weight: bold;
}

select {
    padding: 10px;
    font-size: 16px;
    appearance: none;
    background-color: #fff;
    color: #333;
    width: 200px;
}

select:focus {
    outline: none;
    border-color: #009688;
}

button {
    background-color: #009688;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
    color: #fff;
    width: 200px;
    border: none;
}

button:hover {
    background-color: #00796b;
}

.operacoes {
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.resultado-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: bold;
    align-items: center;
    box-sizing: border-box;
}

#resultado, #resultado_decimal, #calculos {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.calculos-card{
    text-align: center;
}
.fracao {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.fracao span {
    display: block;
}

.fracao .numerador {
    border-bottom: 1px solid #333;
    padding: 5px 10px;
}

.fracao .denominador {
    padding: 5px 10px;
}

.numerador.large, .denominador.large {
    font-size: 14px;
}

@media (max-width: 600px) {
    .card, .resultado-card {
        width: 90%;
    }
}
