body {
    font-family: 'Arial', sans-serif;
    background-color: #cecdd1;
    margin: 20px;
}

h1 {
    color: #218;
    display: flex;
    justify-content: center;
    font-size: 50px;
}

h2 {
    color: #851;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 50px;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 20px;
    width: 30%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: bold;
    align-items: center;
    box-sizing: border-box;
}

label {
    font-size: 20px;
}

input, select, button {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-align: center;
    box-sizing: border-box; 
}

input {
    font-size: 35px;
    height: 50px;
    font-weight: bold;
}

select {
    padding: 10px;
    font-size: 16px;
    appearance: none;
    background-color: white;
    color: #333;
    width: 200px;
}

select:focus {
    outline: none;
    border-color: #4CAF50;
}

select option {
    padding: 10px;
    background-color: #fff;
    color: #333;    
}

button {
    background-color: #4CAF50;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    display: block;
    margin: 10px auto;
    border-radius: 3px;
    width: 200px;
}

button:hover {
    background-color: #45a042;
}

.operacoes {
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
   
}

.resultado-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 20px;
    width: 30%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: bold;
    align-items: center;
    box-sizing: border-box;
}

#resultado, #resultado_decimal {
    font-size: 18px;
    color: black;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    
}

.fracao {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.fracao span {
    display: block;
}

.fracao .numerador {
    border-bottom: 1px solid black;
    padding: 5px 10px;
}

.fracao .denominador {
    padding: 5px 10px;
}

.numerador.large {
    font-size: 14px;
}

.denominador.large {
    font-size: 14px;
}

@media (max-width: 600px) {
    .card, .resultado-card {
        width: 90%;
    }
}
